/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 12pt;
  background-color: #FF6600;
  /*text-align: center;*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

li {
  font-family: Helvetica, Arial, sans-serif;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

p > img {
  margin: auto;
  display: block;
}

a { 
  color: #964514; 
  text-decoration: none;
  font-weight: bold;
}
a:hover   { 
  color: /*#000*/green; 
  text-decoration: underline;
}
a:visited { color: #964514; }

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }

    body {
      font-size: 11pt; 
      margin: 0 3em 3em 3em;
    }

    code {
      font-size: 10pt;
    }
/*
    a:link:after, 
    a:visited:after { 
      content: " (" attr(href) ") "; 
      font-size: 90%; 
    }
*/    
}
.search {
  float: right;
  border: 2px solid #DDD;
  border-radius: 6px;
  font-size: 0.8em;
  padding: 5px 4px 3px 4px;
  text-align: center;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

div.slides {
  margin-bottom: 0.5em;
}

.slides dd  {
  font-size: 0.9em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  /*text-align: justify;*/
  max-width: 42em;
  margin: 2em auto 2em;
  line-height: 1.5em;
  background-color: white;
}

@media screen {
  .site {
    border: solid 3px #6F4242;
    padding: 32px 32px 0 32px;
    border-radius: 16px;
  }
}
.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}


.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
/*  float: left;
  margin-right: 3em;*/
  font-family: Helvetica, Arial, sans-serif;
}

.contact {
  text-align: center;
}

.contact li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}


.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
  margin-bottom: 1em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

blockquote p {
  background-color: #eee;
  padding: 8px;
  border: 1px solid #ddd;
}

