/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('/assets/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('/assets/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('/assets/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
  font-style: italic;
}


@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('/assets/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}


html, body { height: 100%; }

body {
  background-color: orange;
  font-family: Atkinson-Hyperlegible, sans-serif;
}

h1, h2, h3 {
  font-family: Atkinson-Hyperlegible, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

li {
  font-family: Atkinson-Hyperlegible, sans-serif;
}

h1 { margin-bottom: 1rem; }
p { margin: 1rem 0; }

p > img {
  margin: auto;
  display: block;
  max-width: 100%;
}

a {
  color: brown;
}

.header a {
  text-decoration: none;
}
.header a:visited {
  color: brown;
/*  text-decoration-skip: ink; */
}

a:hover   {
  color: green;
}

a:visited {
  color: darkred;
}

a:visited:hover {
  color: green;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    body {
      margin: 0 3rem 3rem 3rem;
    }

    code {
      font-size: 0.8rem;
    }
}

.search {
  float: right;
  border: 2px solid lightgrey;
  font-size: 0.8rem;
  padding: 5px 4px 3px 4px;
  text-align: center;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2rem;
}

.posts li {
  line-height: 1.75rem;
}

.posts span {
  color: #666;
  font-family: monospace;
  font-size: 0.8rem;
}

div.slides {
  margin-bottom: 0.5rem;
}

.slides dd  {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  max-width: 42rem;
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.5rem;
  background-color: white;
}

body {
}

@media screen {
  .site {
    padding: 0 2rem;
  }
}
.header {
  padding-top: 1rem;

}

.title {
  display: inline-block;
  margin-bottom: 2rem;
}


.header a.extra {
  color: #aaa;
  margin-left: 1rem;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #666;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2rem;
  overflow: hidden;
}

.footer .contact {
  font-family: sans-serif;
}

.contact {
  text-align: center;
}

.contact li {
  display: inline;
  list-style-type: none;
  padding-right: 1.5rem;
}


.footer .rss {
  margin-top: 1.1rem;
  margin-right: -0.2rem;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #fafafa;
  padding: 0 .4rem;
  overflow-x: scroll;
}

.post ul, .post ol {
  margin-left: 1.35rem;
  margin-bottom: 1rem;
}

.post code {
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 0 0.2rem;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

blockquote p {
  background-color: #eee;
  padding: 0.4rem;
  border: 1px solid #ddd;
}

/* a11y fixes for syntax styling */

.highlight .cp {
    color: #666;
}

.highlight .cm {
    color: #666;
}

.highlight .c1 {
    color: #666;
}

.highlight .mi {
    color: #007777;
}

.highlight .nb {
    color: #0076A3;
}

.highlight .sr  {
    color: black;
}
