<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns">
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ page.title | xml_escape }}</title>
        <meta name="viewport" content="width=device-width" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css" />

        <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">

        <!-- Twitter Card Info -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@thaggie" />
        <meta name="twitter:title" content="{{ page.title | xml_escape }}" />

        <meta name="copyright" content="Tom Haggie {{ site.time | date: '%Y' }}">  
        <meta name="author" content="Tom Haggie">  

        <!-- Open Graph -->
        <meta name="og:title" content="{{ page.title | xml_escape }}" />
        <meta name="og:type" content="blog" />
        <meta name="og:article:author" content="https://www.facebook.com/thaggie" />
        <meta name="og:article:published_time" content="{{ page.date }}" />
    </head>
    <body>

        <div class="site">
          <div class="header">
            <form action="{{ '/search' | prepend: site.baseurl }}" method="GET">
              <input class="search no-print" type="text" name="query" placeholder="Search Tom's Space">
            </form>
            <h1 class="title no-print"><a href="/">{{ site.name }}</a></h1>

          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <ul>
                <li><a href="https://github.com/thaggie">github</a></li>
                <li><a href="https://twitter.com/thaggie">twitter</a></li>
                <li><a href="https://www.linkedin.com/in/thaggie">linkedin</a></li>
                <li><a href="https://www.flickr.com/oddsocks">flickr</a></li>   
              </ul>
            </div>
            <div class="contact">
              <p>
                &copy; {{ site.time | date: '%Y' }} {{ site.author }} <br />
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
