<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">
    </head>
    <body>

        <div class="site">
          <div class="header">
            <form action="{{ '/search' | prepend: site.baseurl }}" method="GET">
              <input class="search no-print" type="text" name="query" placeholder="Search Tom's Space">
            </form>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>

          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <ul>
                <li><a href="https://github.com/thaggie">github</a></li>
                <li><a href="https://twitter.com/thaggie">twitter</a></li>
                <li><a href="https://www.linkedin.com/in/thaggie">linkedin</a></li>
                <li><a href="https://www.flickr.com/oddsocks">flickr</a></li>   
              </ul>
            </div>
            <div class="contact">
              <p>
                &copy; {{ site.time | date: '%Y' }} Tom Haggie <br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
